_ngo
_xmsgs
iseconfig
xlnx_auto_*
xst
CPU_*
*.html
*.log
*.xml
*.bgn
*.bin
*.bit
*.bld
*.csv
*.gise
*.lso
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.swp
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.drc
*.cmd_log
*.sym
*.spl
*.pwr
*.txt
*.tcl
*.debug
planAhead*
ipcore_dir/*.vhd

